<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.springdemo.events.listener.CustomEventListener"></bean>
    <bean id="customeventpublisher" class="com.springdemo.events.publisher.CustomEventPublisher"></bean>

</beans>